@media only screen and (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 적용될 스타일 */
  .container {
    width: 90%;
  }
  
  .menu-img {
    width: 200px;
  }
  
  .content {
    width: 90%;
    height: auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /* 화면 너비가 769px 이상 1200px 이하일 때 적용될 스타일 */
  .container {
    width: 70%;
  }
  
  .menu-img {
    width: 250px;
  }
  
  .content {
    width: 70%;
    height: auto;
  }
}

@media only screen and (min-width: 1201px) {
  /* 화면 너비가 1201px 이상일 때 적용될 스타일 */
  .container {
    width: 60%;
  }
  
  .menu-img {
    width: 350px;
  }
  
  .content {
    width: 900px;
    height: auto;
  }
}
